
<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-left">
            <h1>How to add Shopify Announcement bar (without an app)</h1>
            <div class="posted-on">
                <p>by <span>XYZ</span> on <span>March 10, 2019</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/book1.jpg" alt="book1">
            </div>
            <div class="blog-desc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores consequatur ex at est atque ut perspiciatis vero minima et illo ab ratione cupiditate dolorem inventore non, eum libero quidem modi.

               </p>
               <p>Dolor duis Lorem reprehenderit cillum deserunt pariatur est ad nulla.Labore minim consectetur sint anim velit pariatur.Voluptate duis elit mollit reprehenderit nisi tempor dolor cupidatat.
            </p>
            <p>Consectetur qui culpa nostrud elit consequat duis ex labore. Incididunt aliquip labore qui velit. Aliquip sint magna duis cupidatat magna sit ullamco nostrud est dolore id nostrud sint. Anim cillum exercitation dolore incididunt velit voluptate aliqua et cillum ipsum irure aliqua enim ea.</p> 
            <ul>
                <li>Nulla exercitation voluptate proident velit do adipisicing eu excepteur ea non aute velit dolore.</li>
                <li>Do ipsum laborum quis eu fugiat incididunt dolore ut.</li>
                <li>Excepteur ex sunt nulla Lorem ullamco enim officia do.</li>
                <li>Cupidatat reprehenderit sint enim tempor enim ut dolor cillum deserunt.</li>
                <li>Est ea mollit consectetur exercitation dolore.</li>
                <li>Qui ad ea nulla incididunt Lorem pariatur ea ullamco cupidatat consectetur enim occaecat laboris.</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>
