<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h2 class="title-heading">Latest Books</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/book1.jpg" alt="book1">
            <h3>Lorem ipsum dolor sit amet.
        </h3>
            <p>by <span>Xyz</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore corporis rerum et, consectetur eveniet sunt labore officia iste ipsam fugit assumenda nisi, numquam soluta cum suscipit temporibus sapiente. Quia?</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/book2.jpg" alt="book2">
            <h3>Lorem ipsum dolor sit amet.
            </h3>
            <p>by <span>XYZ</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facere repellat, dolorum recusandae nobis quia, porro, maiores eum perspiciatis perferendis odit ab officia atque laudantium facilis. Aliquid, cupiditate? Quam, accusamus.</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/book3.jpg" alt="book3">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>by <span>XYZ</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore corporis rerum et, consectetur eveniet sunt labore officia iste ipsam fugit assumenda nisi, numquam soluta cum suscipit temporibus sapiente. Quia?</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/book4.jpg" alt="book4">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>by <span>XYZ</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore corporis rerum et, consectetur eveniet sunt labore officia iste ipsam fugit assumenda nisi, numquam soluta cum suscipit temporibus sapiente. Quia?</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/book5.jpg" alt="book5">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>by <span>XYZ</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore corporis rerum et, consectetur eveniet sunt labore officia iste ipsam fugit assumenda nisi, numquam soluta cum suscipit temporibus sapiente. Quia?</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/book6.jpg" alt="book6">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>by <span>XYZ</span></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore corporis rerum et, consectetur eveniet sunt labore officia iste ipsam fugit assumenda nisi, numquam soluta cum suscipit temporibus sapiente. Quia?</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>

