<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#">Fantasy</a></li>
       <li><a href="#">Science Fiction</a></li>
       <li><a href="#">Horror</a></li>
       <li><a href="#">Mystery</a></li>
       <li><a href="#">Thriller</a></li>
       <li><a href="#">Comic</a></li>
       <li><a href="#">Drama</a></li>
       <li><a href="#">Romance</a></li>
       <li><a href="#">Fairytale</a></li>
       <li><a href="#">Suspense</a></li>
   </ul>
  </div>
