<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Books</h4>
    <a href="/book/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/book1.jpg" alt="book1">
            </div>
            <div class="rb-box-desc">
                <h5>the BODY MYTH</h5>
                <p>by <span>Rheea Mukherjee</span></p>
                <p>Posted On: February 26, 2019</p>
            </div>
        </div>
    </a>
    <a href="/book/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/book2.jpg" alt="book2">
            </div>
            <div class="rb-box-desc">
                <h5>CLAP WHEN YOU LAND</h5>
                <p>by <span>Elizabeth Acevedo</span></p>
                <p>Posted On: May 05, 2020</p>
            </div>
        </div>
    </a>
    <a href="/book/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/book3.jpg" alt="book3">
            </div>
            <div class="rb-box-desc">
                <h5>The Vegetarian</h5>
                <p>by <span>Han Kang</span></p>
                <p>Posted On: April 30, 2007</p>
            </div>
        </div>
    </a>
    <a href="/book/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/book4.jpg" alt="book4">
            </div>
            <div class="rb-box-desc">
                <h5>Muscle</h5>
<p>by <span>Alan Trotter</span></p>
                <p>Posted On: February 07, 2019</p>
            </div>
        </div>
    </a>
    <a href="/book/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/book5.jpg" alt="book5">
            </div>
            <div class="rb-box-desc">
                <h5>The Road</h5>
<p>by <span>Cormac McCarthy</span></p>
                <p>Posted On: September 26, 2009</p>
            </div>
        </div>
    </a>
    <a href="/book/6">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/book6.jpg" alt="book5">
            </div>
            <div class="rb-box-desc">
                <h5>No place like here</h5>
<p>by <span>Christina June</span></p>
                <p>Posted On: May 21, 2019</p>
            </div>
        </div>
    </a>
  </div>
